page-login {
 
  .login-content {
    background: #b63726;
    font: small-caps 100%/200% Helvetica;    
 
    .logo-row {
      text-align: center;
      align-items: center;
      margin-left: 15%;
      width: 70%;
    }
 
    .login-box {
      background: #b63726;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         //border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
        // margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #094b81;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
 
     .register-btn {
      border-radius: 30px !important;    
      border: 1px solid #ffffff;
      background: #094b81;         
      color: #ffffff;
      font-size: 0.8em;
      
     }
  }
 
}